[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    os.remove
    except ImportError
    # Don't complain if tests don't hit defensive assertion code:
    raise ImportError
    raise NotImplementedError

show_missing = True
include =
    */cornac/*
omit =
    */cornac/models/*
    */cornac/datasets/*
    */cornac/eval_methods/propensity_stratified_evaluation.py  # ignored until being fixed
