# Links for torch and dgl
-f https://download.pytorch.org/whl/torch_stable.html
-f https://data.dgl.ai/wheels/cu116/repo.html

pandas==1.4.*
gensim==4.2.0
sentence-transformers==2.2.2
dgl==1.0.*
torch==1.13.1+cu116
filelock==3.8.2