version: 2

jobs:
  build:
    working_directory: ~/cornac
    docker:
      - image: circleci/python:3.6.9
        environment:
          PIPENV_VENV_IN_PROJECT: true
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - restore_cache:
          key: deps9-{{ .Branch }}
      - run:
          command: |
            sudo pip install --upgrade pip
            sudo pip install --only-binary=numpy,scipy numpy scipy pytest pytest-cov codecov
            sudo pip install -e .[tests]
          no_output_timeout: 30m
      - save_cache:
          key: deps9-{{ .Branch }}
          paths:
            - ".venv"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.6/site-packages"
      - run:
          command: |
            python -m pytest --cov=cornac
            codecov || echo "codecov failed"
