html[data-theme="light"] {
    --pst-color-primary: #A3361F;
    --pst-color-secondary: #BE181E;
    --pst-color-primary-bg: #95736d;
    --pst-color-secondary-bg: #94dfff;
    --pst-color-inline-code-links: #1F70A3;
}

html[data-theme="dark"] {
    --pst-color-primary: #c15f63;
    --pst-color-secondary: #18BEB8;
    --pst-color-primary-bg: #95736d;
    --pst-color-secondary-bg: #0082ba;
    --pst-color-inline-code-links: #c4c8ff;
}

html {
    --pst-font-size-h1: 2.5rem;
    --pst-font-size-h2: 1.8rem;
    --pst-font-size-h3: 1.3rem;
    --pst-font-size-h4: 1.2rem;
    --pst-font-size-h5: 1.1rem;
    --pst-font-size-h6: 1.05rem;
}