# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: master

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  
jobs:
  build:
    name: Building on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-22.04, macos-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12"]
    env:
      LIMIT_NUMPY_VERSION: 2.0.0
    steps:
    - name: Get number of CPU cores
      uses: SimenB/github-actions-cpu-cores@v2
      id: cpu-cores

    - uses: actions/checkout@v4

    - name: Setup Python ${{ matrix.python-version }}
      if: ${{ (matrix.os != 'macos-latest') || ((matrix.os == 'macos-latest') && (matrix.python-version != '3.9')) }}
      uses: actions/setup-python@v5
      id: pysetup
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Setup Python 3.9 - macos-arm
      if: ${{ (matrix.os == 'macos-latest') && (matrix.python-version == '3.9') }}
      run: |
        brew update
        brew install python@${{ matrix.python-version }}
        curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
        python${{ matrix.python-version }} get-pip.py

    - name: Create Python alias for Windows 
      if: matrix.os == 'windows-latest'
      run: |
        $newPath = "${{ steps.pysetup.outputs.python-path }}".Replace("python.exe", "python${{ matrix.python-version }}.exe")
        New-Item -ItemType HardLink -Path "$newPath" -Value "${{ steps.pysetup.outputs.python-path }}"

    - name: Display Python and Pip versions
      run: | 
        python${{ matrix.python-version }} -c "import sys; print(sys.version)"
        pip --version

    - name: Display GLIBCXX versions
      if: matrix.os == 'ubuntu-22.04'
      run: | 
        ls /lib/x86_64-linux-gnu/libstdc*
        strings /usr/lib/x86_64-linux-gnu/libstdc++.so.6 | grep GLIBCXX        

    - name: Upgrade pip wheel setuptools
      run: python${{ matrix.python-version }} -m pip install wheel setuptools pip --upgrade
  
    - name: Install other dependencies
      run: python${{ matrix.python-version }} -m pip install Cython pytest pytest-cov flake8 "numpy>${{ env.LIMIT_NUMPY_VERSION }}" scipy

    - name: Build extensions and install test dependencies
      run: |
        python${{ matrix.python-version }} setup.py build_ext -j${{ steps.cpu-cores.outputs.count }}
        python${{ matrix.python-version }} -m pip install -e .[tests]

    - name: Display numpy version
      run: python${{ matrix.python-version }} -c "import numpy; print(numpy.__version__)"

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    
    - name: Test with pytest
      run: |
        python${{ matrix.python-version }} -m pytest --cov=cornac
